
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255; /* #ffffff */
    --foreground: 8 15 15; /* #080f0f */

    --card: 255 255 255; /* #ffffff */
    --card-foreground: 8 15 15; /* #080f0f */

    --popover: 255 255 255; /* #ffffff */
    --popover-foreground: 8 15 15; /* #080f0f */

    --primary: 104 182 132; /* #68b684 */
    --primary-foreground: 255 255 255; /* #ffffff */

    --secondary: 249 194 46; /* #f9c22e */
    --secondary-foreground: 8 15 15; /* #080f0f */

    --muted: 164 3 31; /* #a4031f */
    --muted-foreground: 255 255 255; /* #ffffff */

    --accent: 249 194 46; /* #f9c22e */
    --accent-foreground: 8 15 15; /* #080f0f */

    --destructive: 164 3 31; /* #a4031f */
    --destructive-foreground: 255 255 255; /* #ffffff */

    --border: 104 182 132; /* #68b684 */
    --input: 104 182 132; /* #68b684 */
    --ring: 8 15 15; /* #080f0f */

    --radius: 0.5rem;
  }

  .dark {
    --background: 8 15 15; /* #080f0f */
    --foreground: 255 255 255; /* #ffffff */

    --card: 8 15 15; /* #080f0f */
    --card-foreground: 255 255 255; /* #ffffff */

    --popover: 8 15 15; /* #080f0f */
    --popover-foreground: 255 255 255; /* #ffffff */

    --primary: 104 182 132; /* #68b684 */
    --primary-foreground: 8 15 15; /* #080f0f */

    --secondary: 249 194 46; /* #f9c22e */
    --secondary-foreground: 8 15 15; /* #080f0f */

    --muted: 164 3 31; /* #a4031f */
    --muted-foreground: 255 255 255; /* #ffffff */

    --accent: 249 194 46; /* #f9c22e */
    --accent-foreground: 8 15 15; /* #080f0f */

    --destructive: 164 3 31; /* #a4031f */
    --destructive-foreground: 255 255 255; /* #ffffff */

    --border: 104 182 132; /* #68b684 */
    --input: 104 182 132; /* #68b684 */
    --ring: 255 255 255; /* #ffffff */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .transition-all-200 {
    transition: all 0.2s ease-in-out;
  }
}
