
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 253 255 252; /* #fdfffc */
    --foreground: 1 22 39; /* #011627 */

    --card: 253 255 252; /* #fdfffc */
    --card-foreground: 1 22 39; /* #011627 */

    --popover: 253 255 252; /* #fdfffc */
    --popover-foreground: 1 22 39; /* #011627 */

    --primary: 46 196 182; /* #2ec4b6 */
    --primary-foreground: 253 255 252; /* #fdfffc */

    --secondary: 255 159 28; /* #ff9f1c */
    --secondary-foreground: 1 22 39; /* #011627 */

    --muted: 231 29 54; /* #e71d36 */
    --muted-foreground: 253 255 252; /* #fdfffc */

    --accent: 255 159 28; /* #ff9f1c */
    --accent-foreground: 1 22 39; /* #011627 */

    --destructive: 231 29 54; /* #e71d36 */
    --destructive-foreground: 253 255 252; /* #fdfffc */

    --border: 46 196 182; /* #2ec4b6 */
    --input: 46 196 182; /* #2ec4b6 */
    --ring: 1 22 39; /* #011627 */

    --radius: 0.5rem;
  }

  .dark {
    --background: 1 22 39; /* #011627 */
    --foreground: 253 255 252; /* #fdfffc */

    --card: 1 22 39; /* #011627 */
    --card-foreground: 253 255 252; /* #fdfffc */

    --popover: 1 22 39; /* #011627 */
    --popover-foreground: 253 255 252; /* #fdfffc */

    --primary: 46 196 182; /* #2ec4b6 */
    --primary-foreground: 1 22 39; /* #011627 */

    --secondary: 255 159 28; /* #ff9f1c */
    --secondary-foreground: 1 22 39; /* #011627 */

    --muted: 231 29 54; /* #e71d36 */
    --muted-foreground: 253 255 252; /* #fdfffc */

    --accent: 255 159 28; /* #ff9f1c */
    --accent-foreground: 1 22 39; /* #011627 */

    --destructive: 231 29 54; /* #e71d36 */
    --destructive-foreground: 253 255 252; /* #fdfffc */

    --border: 46 196 182; /* #2ec4b6 */
    --input: 46 196 182; /* #2ec4b6 */
    --ring: 253 255 252; /* #fdfffc */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .transition-all-200 {
    transition: all 0.2s ease-in-out;
  }
}
